<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
         <p>
          <strong>十二星座图片</strong>：<a href="https://seopic.699pic.com/photo/40011/0709.jpg_wh1200.jpg" target="_blank">十二星座 </a>，图片欣赏
        </p>

        <p><strong>About name</strong></p>

        <p>
          <a href="www.baidu.com" target="_blank">   测试百度链接
          </a>
        </p>

        <h2>Articles</h2>
        <p>测试其他链接</p>

        <ul>
           <li>
            google  <strong><a href="www.google.com">第二期，开干！
            </a></strong>
          </li>
        </ul>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <p><strong>Group</strong></p>
       <h2>
         Note
       </h2>

        <p>
         测试p的作用
       </p>

        <p> 下面测试url的作用</p>

       <ul>
         <li> li到底在html的作用是什么呢？
        </li>
        <li>多写几个
        </li>
      </ul>

       <h2>
         History
       </h2>
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
